@import url("https://fonts.googleapis.com/css2?family=Anton&family=Noto+Serif:wght@700&family=Yanone+Kaffeesatz:wght@600&display=swap");
.background {
  background-image: linear-gradient(
      rgba(41, 39, 39, 0.623),
      rgba(41, 39, 39, 0.247)
    ),
    url(https://media.istockphoto.com/photos/doctor-in-hospital-background-with-copy-space-picture-id914490884?k=20&m=914490884&s=170667a&w=0&h=GeOFDObT_qsRk6ZH_GgbXUp4CkIcvDlIZK8n9eKdSd8=);

  min-height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;

  font-family: sans-serif;
  justify-content: center;

  background-position: center;
}
.container-S {
  margin-left: 48%;
  width: 430px;
  height: auto;
  background: #303f385e;
  padding: 25px 40px;
  border-radius: 7%;
}
.icon-log {
  font-size: 9rem !important;

  margin-left: 30%;
  margin-right: 40%;
}
.b-login {
  color: red;
}

.title-b {
  font-family: "Anton", sans-serif;
  font-family: "Noto Serif", serif;
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-align: center;
  font-size: 40px;
  color: rgba(27, 25, 25, 0.856);
}
.button-b {
  margin-left: 30%;
  margin-right: 40%;
  background-color: rgba(27, 25, 25, 0.856);
  width: 150px;
  height: 50px;
  border-radius: 25px 25px 25px 25px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border:none;
  margin-bottom: 5px;
}
.form-group{
  margin: 5px;
}
.Icon-x {
  color: #469771;
}
.Icon-x-m {
  margin-left: 100%;
}
